# editorconfig.org

# top-most EditorConfig file
root = true

# Default settings:
# A newline ending every file
# Use 2 spaces as indentation
# Trim trailing whitespace
[*.cs]
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.{unity,prefab,meta,controller,anim,mat}]
trim_trailing_whitespace = false
insert_final_newline = false
